* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "_header";
@import "_footer";
@import "_home";

.container {
  width: 80%;
  margin: auto;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.img-fluid{
  width: 100%;
}
.justify-content-between{
  justify-content: space-between;
}